#animation-reel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100vw;
  margin: 0;
  padding: 2rem 20px;  
  box-sizing: border-box;
}
.animation-reel-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  box-sizing: border-box;
}
.main-reel {
  flex: 1.5;
  max-width: 750px;
  width: 85%;
}
.main-reel video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.sample-reels {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}
.sample-item video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
  .sample-reels {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .animation-reel-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .main-reel {
    margin-bottom: 2rem;
  }
  .sample-reels {
    grid-template-columns: 1fr;
  }
}
