    main, section, .video-container {
      margin-left: 200px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 10px;
    }
    .grid-item img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 6px;
    }
    body {
	transform: scale(0.77);
	transform-origin: top left;
	width: 50%%; 
